<h1><%= @film.title%> (<%= @film.year%>)</h1>

<%= image_tag @film.picture%>

<p><strong>Genre: </strong><%= @film.genre%> </p>
<p> <strong>Synopsis: </strong> <%= @film.synopsis%> </p>

<%= button_to "Edit this film", edit_film_path(@film), method: :get %>
<%= button_to "Delete this film", film_path(@film), method: :delete %>
<%= button_to 'add to favorites', favorites_path(:film_id => @film.id), method: :post  %>